#body-pic {
	background-image: url("../images/company_playlist_background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

/*	background-image-opacity: 0.5;
	margin: auto;
	display: inline-block;*/
	/*opacity: 0.5;*/

}

#head {
	font-weight: bold;
	font-style: italic;
	margin-left: 125px;
}

#jp_container_1 {
	margin-left: 42px;

}

button:hover{
     background: white;
}

#song-list {
	font-weight: bold;
	color: black;
}

.footer {
	position: absolute;
	right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}