
* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	padding: 10px;
}

#listButtons {
	font-family: 'Muli', sans-serif;
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#cards {
	padding-top: 50px;
}

#card1 {
	border: 2px solid #C0EEEC;
	margin-bottom: 20px;
}

#card2 {
	border: 2px solid #C0EEEC;
	margin-bottom: 20px;
}

#card3 {
	border: 2px solid #C0EEEC;
	margin-bottom: 20px;
}

#cardTitle1 {
	border-bottom: 1px solid black;
	padding: 5px;
	background-color: #208480;
	color: white;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

#cardTitle2 {
	border-bottom: 1px solid black;
	padding: 5px;
	background-color: #208480;
	color: white;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

#cardTitle3 {
	border-bottom: 1px solid black;
	padding: 5px;
	background-color: #208480;
	color: white;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

#cardText1{
	background-color: #89D4D1;
	color: white;
	padding: 10px;
	font-family: 'Muli', sans-serif;
}

#cardText2{
	background-color: #89D4D1;
	color: white;
	padding: 10px;
	font-family: 'Muli', sans-serif;
}

#cardText3{
	background-color: #89D4D1;
	color: white;
	padding: 10px;
	font-family: 'Muli', sans-serif;
}

.lastText {
	margin-bottom: 0;
}

.footer {
	position: absolute;
	right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}