#body {
	margin-top: 30px;
}

h1 {
	text-align: center;
}

#idContainer {
	margin-left: 15px;
}

#basic-info {
	font-weight: bold;
	font-size: 20px;
}
	
#search-song {
	font-weight: bold;
	font-size: 20px;
}
.img-rounded {
	border-style: outset;
}
	
/*.preveiw {
	width: 250px;
	height: 100px;
}*/


#results {
	margin-top: 10px;
}

#track {
	margin-bottom: 15px;
}