h1 {
	text-align: center;
}

#idContainer {
	margin-left: 15px;
	border-style: outset;
}

#basic-info {
	font-weight: bold;
	font-size: 20px;
}

#spotify-search {
	border-style: outset;
}
	
#search-song {
	font-weight: bold;
	font-size: 20px;
}
.img-rounded {
	border-style: outset;
}

#results {
	margin-top: 10px;
}

#track {
	margin-bottom: 15px;
}


#submit-playlist {
	margin-top: 15px;
	float: right;
}

.footer {
	position: absolute;
	right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}